/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 27 Nov 2024, 6:55:41 pm
    Author     : Harry
*/
header {
    color: #D94B12;
    text-align: center;
    padding: 20px 0;
}
body{
    margin:0px;
    font-family: 'Poppins',sans-serif;
    background-color: #f4f4f9;
}
main{
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}
h1{
    margin-left:40px;
    font-size:48px;
    text-align: center;
    color: #001219; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color:#FFB301;
}
.navbar{
    width:100%;
    background-color:#D94B12;
    padding:10px 0;

}
.navbar ul{
    list-style-type: none;
    background-color: #D94B12;
    margin:0px;
    padding:0px;
    overflow:hidden;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    width:100%;
}
.navbar li {
    margin-right: 20px;
}
.navbar a{
    font-size:18px;
    font-weight: bold;
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.navbar a:hover{
    background-color: #F46C02;
    transform: scale(1.1);
    border-radius: 10px;
}
.navbar a.hover {
    background-color: #F9C256;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.gallery-item {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.gallery-item img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.order-form {
    margin-top: 10px;
}

.order-form input {
    width: 60px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

.order-summary {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

#total-items, #total-price {
    font-weight: bold;
    color: #D94B12;
}

.order-btn {
    display: inline-block;
    background-color: #C85A00; 
    color: white;
    padding: 10px 20px;
    font-size: 18px; 
    border: none;
    cursor: pointer;
    width: 100%; 
    margin-top: 10px; 
    text-align: center; 
    text-decoration: none;  
    transition: background-color 0.3s;
}

.order-btn:hover {
    background-color: #F46C02;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: white;
    color: black;
    font-size: 0.9rem;
}
.image-container2 {
    display: flex; 
    gap: 20px; 
    justify-content: center; 
    align-items: center; 
}
.item-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item-name {
    flex: 1;
}

.item-price {
    flex: 0;
    margin-left: 10px;
}

